<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dodo.ai_trader.service.mapper.AccountBillMapper">
    <resultMap id="BaseResultMap" type="com.dodo.ai_trader.service.mapper.entity.AccountBillEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="card_id" property="cardId" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="biz_type" property="bizType" jdbcType="VARCHAR"/>
        <result column="order_time" property="orderTime" jdbcType="TIMESTAMP"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="context" property="context" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, create_time, update_time, user_id, card_id, order_id, biz_type, order_time, amount, currency, status, version, context
    </sql>

    <insert id="insert" parameterType="com.dodo.ai_trader.service.mapper.entity.AccountBillEntity">
        insert into account_bill (create_time, update_time, user_id, card_id, order_id, biz_type, order_time, amount, currency, status, context, version)
        values (now(), now(), #{userId}, #{cardId}, #{orderId}, #{bizType}, #{orderTime}, #{amount}, #{currency}, #{status}, #{context}, #{version})
    </insert>

    <select id="queryAccountBillByOrderId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from account_bill
        where order_id = #{orderId}
        and biz_type = #{bizType}
    </select>

    <update id="updateStatus">
        update account_bill
        <set>
            update_time = now(),
            status = #{status},
            version = version + 1
        </set>
        where order_id = #{orderId}
        and biz_type = #{bizType}
        and version = #{version}
    </update>

</mapper>